@charset "utf-8";
@media screen and (min-width:1025px) {
  

/* @media screen and (min-width:1025px){} PC
@media screen and (min-width:768px) and (max-width:1024px){} 타블렛
@media screen and (max-width:767px){} 스마트폰 */

.wrap {
  width: 950px;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #ccc;
}

h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3rem;
}

nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.lnb {
  width: 100%;
  height: 100%;
}

.lnb>li {
  width: 25%;
  float: left;
  position: relative;
  border: 1px solid #000;
  background-color: salmon;
}

.lnb li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

.lnb>li>a:hover {
  background-color: #333;
  color: #fff;
}

.lnb>li>ul {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
}

.lnb>li>ul>li>a {
  background: cornflowerblue;
  border-bottom: 1px solid #000;
}

.lnb>li>ul>li>a:hover {
  background-color: rgb(81, 117, 184);
}

.lnb>li:hover ul {
  display: block;
}

.left {
  width: 710px;
  height: 470px;
  float: left;
  margin-right: 10px;
  padding: 10px;
  background-color: #ccc;
}

.left>h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.left>h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.left p {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 20px;
}

.right {
  width: 230px;
  height: 470px;
  float: right;
  background: darksalmon;
}

.right>div {
  width: 100%;
  height: 150px;
  padding: 10px;
  background: #fff;
  border: 1px solid #000;
}

.right>div>img {
  width: 100%;
  height: 100%;
}

.right>div:nth-of-type(2) {
  margin: 10px 0px;
}

footer {
  clear: both;
  width: 100%;
  float: left;
  margin-top: 10px;
  padding: 20px 0px;
  text-align: center;
  background: darksalmon;
}

footer p {
  margin-bottom: 10px;
}

footer p:nth-of-type(2){
  margin: 0;
}
/* pc */
}
/* pc-end - pc 미디어쿼리 끝. 
위까지의 css속성은 1025범위까지에서만 적용이 된다.
width가 더 짧아지면 css 적용 안됨.